<body>
<div class="main">
  <div class="tool-bar">

    <div class="icon" (click)="tableHandlerService.addEmptyRow(paginator.pageIndex, paginator.pageSize)">
      <img src="assets/icons/plus-icon.png" alt="Добавить запись">
    </div>
    <div class="icon" (click)="tableHandlerService.deleteSelected(0, paginator.pageSize); this.paginator.firstPage()">
      <img src="assets/icons/bin-icon.png" alt="Удалить звписи" >
    </div>

  </div>
  <table class="table">
    <tr class="row">
      <th >
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="this.tableHandlerService.selectedRowsNum > 0 && this.tableHandlerService.isAllSelected()"
                              [indeterminate]="this.tableHandlerService.selectedRowsNum > 0 && !this.tableHandlerService.isAllSelected()"
                >
        <!--                      [aria-label]="checkboxLabel()"-->
                </mat-checkbox>
      </th>
      <th>Имя</th>
      <th>E-mail</th>
      <th>Номер телефона</th>
    </tr>

    <tr class="row" appEdit *ngFor="let _row of rows; let i = index" [row]="_row" [editPhase]="this.editPhase" (editStart)="this.editPhaseSet($event)">

      <mat-checkbox (click)="$event.stopPropagation()" class='tableCheckbox'
                    (change)="$event ? this.tableHandlerService.toggleRow(_row) : null"
                    [checked]="_row.selected">
      </mat-checkbox>
      <td class="hovers data"><div class="name">
        <span>{{_row.name}}</span>
      </div></td>
      <td class="hovers data"><div class="email">
        <span>{{_row.email}}</span>
      </div></td>
      <td class="hovers data"><div class="phone">
        <span>{{_row.phone}}</span>
      </div></td>

    </tr>
  </table>


<div>
  <mat-paginator *ngIf="rows" [pageSizeOptions]="this.paginationArr"
                 showFirstLastButtons
                 [length]="this.tableHandlerService.rows.length"
  >
  </mat-paginator>
</div>
</div>
</body>
