<body>
<div class="main">
  <div class="tool-bar">

    <div class="icon">
      <img src="assets/icons/plus-icon.png" alt="Добавить запись">
    </div>
    <div class="icon">
      <img src="assets/icons/bin-icon.png" alt="Удалить звписи">
    </div>

  </div>
  <div class="table">
    <div class="row">
      <div><input type="checkbox" style="height: 16px; width: 16px"></div>
      <div>Имя</div>
      <div>E-mail</div>
      <div>Номер телефона</div>
    </div>
    <div class="row">
      <div><input type="checkbox" style="height: 16px; width: 16px"></div>
      <div>Александр Петров</div>
      <div>petrov@mail.ru</div>
      <div>+79061856195</div>
    </div>
  </div>
  <div class="pagination">

  </div>
</div>
</body>
